{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Admin Dashboard</h2>

<div class="row text-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Manage Users</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Reports</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Settings</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
