{% extends 'base.html' %}
{% block title %}Faculty Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Faculty Dashboard</h2>

<div class="row text-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Manage Courses</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Upload Materials</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Student List</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}
