{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
<div class="row justify-content-center">
<div class="col-md-5">

<div class="card p-4 shadow">

<h3 class="text-center mb-4">Login</h3>

<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label>Username</label>
<input type="text" name="username" class="form-control" required>
</div>

<div class="mb-3">
<label>Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<div class="mb-3">
<label>Role</label>
<select name="role" class="form-select">
<option value="student">Student</option>
<option value="faculty">Faculty</option>
<option value="admin">Admin</option>
</select>
</div>

<button type="submit" class="btn btn-primary w-100">
Login
</button>

</form>

{% if error %}
<p class="text-danger text-center mt-3">{{error}}</p>
{% endif %}

</div>
</div>
</div>
</div>

{% endblock %}